spring-mvc-json-xml/src/main/java/xml/ReturnData.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/ReturnData"
	xmlns:tns="http://www.example.org/ReturnData" elementFormDefault="qualified">
	<element name="code" type="int" default="0"></element>
	<element name="message" type="string" default=""></element>
	<element name="data" type="tns:Object" ></element>

	<complexType name="Object"></complexType>
</schema>